.nav-container {
    text-align: center;
    margin-top: 50px;
}
nav ul {
    list-style-type: none;
}
.nav-item {
    display: inline-block;
    position: relative;
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.tooltip {
    width: calc(100% + 10vw);
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the link */
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.nav-item:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
